<%# Поля для отметок о посещении лекций. %>

<%= f.hidden_field :id %>

<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default">
    <input type="radio" name="options" id="option1"> Option 1
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="option2"> Option 2
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="option3"> Option 3
  </label>
</div>