<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>

<div class="row">
  <div class="col-span-3">
    <div id="load_average_1"></div>
    <script>
      initServerMonitorChart('#load_average_1', '1 минута');
      setInterval(function() {
        $.getJSON('<%= server_load_average_1_path %>', function(data) {
          $('#load_average_1').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 1000);
    </script>
  </div>
  <div class="col-span-3">
    <div id="load_average_5"></div>
    <script>
      initServerMonitorChart('#load_average_5', '5 минут');
      setInterval(function() {
        $.getJSON('<%= server_load_average_5_path %>', function(data) {
          $('#load_average_5').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 1000);
    </script>
  </div>
  <div class="col-span-3">
    <div id="load_average_15"></div>
    <script>
      initServerMonitorChart('#load_average_15', '15 минут');
      setInterval(function() {
        $.getJSON('<%= server_load_average_15_path %>', function(data) {
          $('#load_average_15').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 1000);
    </script>
  </div>
  <div class="col-span-3">
    <div id="memory"></div>
    <script>
      initServerMonitorChart('#memory', 'Оперативная память');
    </script>
  </div>
</div>