<div id="pad-wrapper">
  <div class="row section">
    <h4 class="title">Мониторинг сервера</h4>
    <div class="col-span-3"><div id="load_average_1"></div></div>
    <div class="col-span-3"><div id="load_average_5"></div></div>
    <div class="col-span-3"><div id="load_average_15"></div></div>
    <div class="col-span-3">
      <div id="active_memory"></div>
      <script>
        initServerStatsGauge('#active_memory', 'Оперативная память');
        setInterval(function() {
          $.getJSON('<%= server_active_memory_path %>', function(data) {
            var total = parseFloat(data.total) / (1024 * 1024);
            var active = parseFloat(data.active) / (1024 * 1024);
            var chart = $('#active_memory').highcharts();
            chart.yAxis[0].setExtremes(0, total);

            chart.yAxis[0].removePlotBand('green');
            chart.yAxis[0].removePlotBand('yellow');
            chart.yAxis[0].removePlotBand('red');

            chart.yAxis[0].addPlotBand({
              id: 'green',
              from: 0,
              to: 0.5 * total,
              color: '#55BF3B'
            });
            chart.yAxis[0].addPlotBand({
              id: 'yellow',
              from: 0.5 * total,
              to: 0.75 * total,
              color: '#DDDF0D'
            });
            chart.yAxis[0].addPlotBand({
              id: 'red',
              from: 0.75 * total,
              to: total,
              color: '#DF5353'
            });

            chart.series[0].setData([parseFloat(active.toFixed(2))])
          });
        }, 5000);
      </script>
    </div>

    <script>
      initServerStatsGauge('#load_average_1', '1 минута');
      setInterval(function() {
        $.getJSON('<%= server_load_average_1_path %>', function(data) {
          $('#load_average_1').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 5000);
      initServerStatsGauge('#load_average_5', '5 минут');
      setInterval(function() {
        $.getJSON('<%= server_load_average_5_path %>', function(data) {
          $('#load_average_5').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 5000);
      initServerStatsGauge('#load_average_15', '15 минут');
      setInterval(function() {
        $.getJSON('<%= server_load_average_15_path %>', function(data) {
          $('#load_average_15').highcharts().series[0].setData([parseFloat(data.load)])
        });
      }, 5000);
      initServerStatsUpdate();
    </script>
  </div>
</div>
