<div class="page-header">
  <h1>
    Добавить оценки <%= @session.group.name %>
    <br>
    <small>
      <%= @session.subject %>
      (<%= "#{@session.year}/#{@session.year + 1}, #{@session.semester}-й семестр" %>)
    </small>
  </h1>
</div>

<%= render 'form' %>