language: ruby
rvm:
#- 2.0.0
#- 2.1.0
#- 2.1.1
#- 2.1.2
- 2.1.3
- ruby-head
matrix:
  allow_failures:
  - rvm: ruby-head
before_install:
- sudo apt-get update -qq
- sudo apt-get install -qq freetds-bin freetds-dev freetds-common
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
before_script:
#- mysql -e 'create database matrix_test;'
- bundle exec rake db:setup
#- bundle exec rake db:test:prepare
env:
  global:
  - secure: EiR+bzAIUjtSuKR8MZp107eU41UIhQJSU1DcWTZFH4SCjYOqvX2KJuyRrvc2Gresf+65+g5tqCWzpZpqdu1s4jMbGZ6u5wrWCIL3lpspbZbWwOGJtbK3eVNzrJU+fJxLPVPHylNaneieZw2oTSNs9sN5pbka6X2U4YxbsKVTu6Q=
script:
- bundle exec rspec
#- bundle exec rubocop
