<div class="page-header">
  <h1>
    <%= @graduate_student.student.person.short_name %>
    <small>
      <%= @graduate.group.name %>, <%= @graduate.year %> / <%= @graduate.year + 1 %>
    </small>
  </h1>
</div>