<div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= student.person.full_name %> <small><%= student.group.name %></small> </h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <a href="<%= reference_student_path(student) %>" class="btn btn-primary">Распечатать</a>
      </div>
    </div>
  </div>
</div>