<ul class="nav nav-tabs">
  <li><a href="<%= student_path(@student) %>">Персональная информация</a></li>
  <li><a href="<%= student_study_path(@student) %>">Учебная информация</a></li>
  <li><a href="<%= student_documents_path(@student) %>">Документы</a></li>
  <li class="active"><a href="<%= student_grants_path(@student) %>">Выплаты и стипендии</a></li>
</ul>