<div class="page-header">
  <h1>Все оценки</h1>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      <th>Результат</th>
    </tr>
    </thead>
    <tbody>
    <% @session_marks.each do |session_mark| %>
      <tr>
        <td><%= session_mark.id %></td>
        <td><%= session_mark.student_id %></td>
        <td><%= session_mark.mark %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
 </div> 

<%= link_to 'Добавить', new_session_session_mark_path, class: 'btn btn-default' %>

