<% camp_opts_field = params.key?(:campaign_id) ? :campaign_id : :id %>

<div class="row only-screen">
  <div class="col-sm-12">
    <%= hidden_field_tag :campaign, url_for(params), class: 'hidden-pill-values-no-change', onchange: 'document.location = $(this).val();' %>
    <%= pill_tabs('campaign', Entrance::Campaign.this_year.map { |c| [url_for(params.merge({ camp_opts_field => c.id })), c.name] }, 'campaign', class:  'super-tabs') %>
  </div>
</div>
<br>
