<div class="page-header">
  <h1>Учебные планы</h1>
</div>

<%= render 'filters' %>

<%= render partial: 'discipline',
           collection: @group.disciplines.by_term(params[:year],
                                                  params[:term]) if @group %>

<div id="for_new"></div>