<div class="page-header">
  <h1>Учебные планы</h1>
</div>

<%= render 'filters' %>

<% if @group %>
  <%= render partial: 'discipline',
             collection: @group.disciplines.includes(:lead_teacher)
                             .by_term(params[:year], params[:term]) %>

  <%= link_to new_study_discipline_path, class: 'btn btn-default',
              data: { toggle: 'modal', target: '#new_discipline_modal' } do %>
    <span class="glyphicon glyphicon-plus"></span> Добавить ещё одну дисциплину
  <% end %>
  <div id="new_discipline_modal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content"></div>
    </div>
  </div>
  <%#= render partial: 'discipline_modal',
             locals: { group: @group, discipline: Study::Discipline.new } %>
<% end %>

<script>
  $(function() {
    $(document).on('matrix.study.discipline.update', function(event, id) {
      $('.modal-backdrop').remove();
    });
  });
</script>