<div class="page-header">
  <h1>Учебные планы</h1>
</div>

<%= render 'filters' %>

<% if @group %>
  <%= render partial: 'discipline',
             collection: @group.disciplines.includes(:lead_teacher)
                             .by_term(params[:year], params[:term]) %>

  <button class="btn btn-default" data-toggle="modal" data-target="#new_discipline_modal">
    <span class="glyphicon glyphicon-plus"></span> Добавить ещё одну дисциплину
  </button>
  <%= modal_placeholder('new_discipline_modal') do %>
    <%= render partial: 'study/disciplines/manage', layout: 'layouts/modal',
               locals: { discipline: @new_discipline } %>
  <% end %>
<% end %>

<script>
  $(function() {
    $(document).on('matrix.study.discipline.create', function() {
      document.location = document.location;
    });

    $(document).on('matrix.study.discipline.update', function() {
      $('.modal-backdrop').remove();
      $(document.body).removeClass('modal-open');
    });
  });
</script>