<div class="page-header">
  <h1>Учебные планы</h1>
</div>

<%= render 'filters' %>

<% if @group %>
  <%= render partial: 'discipline',
             collection: @group.disciplines.by_term(params[:year], params[:term]) %>

  <div id="examsByGroups">
    <%= link_to 'Добавить предмет для группы', '#addDisciplineModal',
                class: 'btn btn-default', data: {toggle: 'modal'},
                style: 'margin-top: 20px;' %>
    <%= render partial: 'discipline_modal',
               locals: { group: @group, discipline: Study::Discipline.new } %>
  </div>

  <div id="for_new"></div>
<% end %>