<ul class="breadcrumb">
  <li><a href="<%= specialities_path %>">Специальности</a></li>
  <li class="active">Редактирование</li>
</ul>
<div class="page-header">
  <h1>Редактирование специальности</h1>
</div>

<%= render 'form' %>