<div class="row">
  <table class="table table-hover table-specialities">
    <thead>
    <tr>
      <th>#</th>
      <th><span class="line"></span>Название специальности</th>
      <th><span class="line"></span>Код специальности</th>
      <th><span class="line"></span></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'rows'%>
    </tbody>
  </table>
</div>
