<ul class="breadcrumb">
  <li><a href="<%= specialities_path %>">Специальности</a></li>
  <li class="active">Создание</li>
</ul>

<div class="page-header">
  <h1>Новая специальность</h1>
</div>

<%= render 'form' %>