<% unless classes.not_full(discipline) == []%>
  <br><br>
  <div class="alert alert-danger hidden-print">
    <p>В некоторых занятиях не введены результаты оценки студентов.</p>
    <ul>
      <% classes.not_full(discipline).each do |c| %>
        <li>
          <%= link_to study_discipline_checkpoint_marks_path(@discipline, c) do%>
            <%= c.name if c.is_checkpoint? %>
            <%= c.lessonname %> (<%= l c.date %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>