<div class="seminar_fields">
  <%= f.hidden_field :id %>
  <%= f.hidden_field :checkpoint_date,
                     value: f.object.date ? l(f.object.date) : nil,
                     class: 'date', disabled: f.object.marks.any? %>
  <%= f.link_to_remove 'Удалить практическое или лабораторное занятие',
                       style: 'display: none;' %>
</div>
