<div class="page-header">
  <h1>Распределение студентов по группам</h1>
</div>

<form class='form-horizontal' action='' method='post' id='formpullgroupstudents'>
  <%= render 'group', faculties: @faculties %>
</form>

<table id="studentsByGroups">
  <tr>
  </tr>
</table>