<ul class="breadcrumb">
  <li><a href="<%= users_path %>">Сотрудники</a></li>
  <li class="active">Редактирование</li>
</ul>
<div class="page-header">
  <h1>Редактирование пользователя</h1>
</div>

<%= render 'edit_form' %>