<div class="page-header">
 <%if @user.active %>
  		<h1>Редактирование пользователя</h1>
 <% else %>
   		<h1 class= "text-muted">Редактирование пользователя (уволен) </h1></p>
 <% end %>
</div>

<%= render 'form' %>