<ul class="breadcrumb">
  <li><a href="<%= departments_path %>">Структура</a></li>
  <li class="active">Редактирование</li>
</ul>

<div class="page-header">
  <h1>Редактирование департамента</h1>
</div>

<%= render 'form' %>