<div class="page-header">
  <h1>Структура</h1>
</div>

<%= link_to 'Добавить новый департамент', new_department_path, class: 'btn btn-default' %>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Подразделение</th>
      <th>Сокращение</th>
      <th>Телефон</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'rows',
               locals: { departments: @departments, level: 1 } %>
    </tbody>
  </table>

