<div class="page-header">
  <h1>Актуальные события</h1>
</div>

<!--<div class="col-sm-12 actuals">-->
  <% render_dates_calendar(Date.parse(@dates.first),
                            Date.parse(@dates.last)) %>
<!--</div>-->

<div class="actual_dates">
  <% @event_dates.each_with_index do |date, index| %>
    <h2><%= date.event.name %> <small><%= l date.date, format: '%d.%m.%Y' %></small></h2>
    <div><%= raw date.event.description %></div>
    <hr>
    <br>
  <% end %>
</div>