<div class="row">
    <div class="col-sm-2">
      Работодатель
    </div>
    <%= form_for person, remote: true, html: { class: 'form-inline' } do |f| %>
      <div class="col-sm-8">
        <%= f.text_field :employer, class: 'form-control' %>
      </div>
      <div class="col-sm-1">
        <%= f.button type: :submit, class: 'btn btn-default',
                                 title: 'Сохранить' do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>
        <% end %>
      </div>
    <% end %>
</div>