<div class="page-header text-danger">
  <h1><%= details[:name] %></h1>
</div>

<p class="lead text-danger text-justify"><%= details[:message] %></p>

<%= link_to 'Вернуться на главную страницу', root_path %>