.ui-multiselect-hasfilter {padding-bottom: 10px !important; background-color: #fff;!important }
.ui-multiselect-hasfilter ul { position:relative; top:2px; }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter input { width:150px; font-size:11px; margin-left:5px; margin-top:8px;height:20px; padding:2px; border:1px solid #cccccc; -webkit-appearance:textfield; -webkit-box-sizing:content-box; border-radius: 3px; }