development:
  adapter: mysql2
  encoding: utf8
  database: matrix
  pool: 5
  username: root
  host: 127.0.0.1

test:
  adapter: mysql2
  encoding: utf8
  host: 127.0.0.1
  database: matrix_test
  username: root

production:
  adapter:  mysql2
  encoding: utf8
  database: <%= ENV['MATRIX_DB_DATABASE'] %>
  username: <%= ENV['MATRIX_DB_USERNAME'] %>
  password: <%= ENV['MATRIX_DB_PASSWORD'] %>
  pool: 5
  host: 127.0.0.1
