<%= link_to entrance_campaign_entrant_application_contract_path(@campaign, a.entrant, a),
            class: "contract-btn btn btn-#{a.contract ? 'success' : 'default'}",
            data: { toggle: 'modal',
                    target: '#' + dom_id(a, 'contract'),
                    remote: entrance_campaign_entrant_application_contract_path(@campaign, a.entrant, a) } do %>
  <span class="glyphicons coins"></span>
<% end %>
<%= modal_placeholder(dom_id(a, 'contract'), size: 'modal-lg') %>
