<div class="page-header text-danger">
  <h1>Страница не найдена</h1>
</div>

<p class="lead text-danger text-justify">
  Вы пытаетесь зайти на страницу, которой не существует.
</p>

<p class="lead text-danger text-justify">
  Если вы считаете, что страница должна быть на этом месте и произошла ошибка,
  — обязательно свяжитесь с представителями Отдела информационных систем
  (корпус на Прянишникова, кабинет 1320).
</p>
