<div class="page-header text-danger">
  <h1>Кажется, что-то пошло не так</h1>
</div>

<%= image_tag 'dont-destroy-your-computer.png',
              style: 'float: right; width: 200px; margin: 0 0 20px 20px;' %>

<p class="lead text-danger text-justify">
  Только что произошла какая-то ошибка. Информация о ней уже отправлена
  разработчикам. В ближайшее время они во всём разберутся, всё заработает
  и всем станет хорошо.
</p>

<p class="lead text-danger text-justify">
  Возможно, что-то поломалось в системе и разработчики пока что не успели это
  починить. Или может вы ввели неверные данные, которые поставили Матрицу
  в тупик. В любом случае, немного подождите, скоро всё поправится.
</p>

<p class="lead text-danger text-justify">
  Если вы считаете, что знаете в чём причина ошибки — обязательно свяжитесь
  с представителями Отдела информационных систем (корпус на Прянишникова,
  кабинет 1320).
</p>
