<%= render 'purchase/header' %>

<div class="page-header">
  <h3>Список поставщиков</h3>
</div>

<div class="row">
  <div class="col col-lg-10">
    <p class="text-info"><%= notice %></p>
  </div>
</div>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>#</th>
    <th>Поставщик</th>
    <th>Адрес</th>
    <th>ИНН</th>
    <th>Телефон</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
      <%= render partial: 'rows' %>
  </tbody>
</table>
