<div class="page-header">
  <h1>Рейтинги и приказы о зачислении</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <p class="lead text-justify">
      Приемная комиссия в данный момент готовится к зачислению второй волны,
      которое состоится в понедельник, 11 августа 2014 года. Когда всё будет
      готово, рейтинги и приказы о зачислении вернутся.
    </p>
  </div>
  <div class="col-sm-2">
    <%= image_tag 'sand-clock.jpg', class: 'img-responsive' %>
  </div>
</div>