<%= f.fields_for :commission_head do |sub_f| %>
  <%= sub_f.hidden_field :head %>

  <div class="form-group">
      <div>
          <%= sub_f.text_field :science, class: 'form-control', placeholder: 'Степень, звание (в сокращении)' %>
      </div>
  </div>

  <div class="form-group">
      <div >
          <%= sub_f.select :user_id,
                           options_from_collection_for_select(
                             User.from_subdepartment(Department.academic.order(:name).first.department_id.to_s),
                             :id, :full_name
                           ), {}, class: 'form-control ajax-teacher' %>
      </div>
  </div>
<% end %>
