<h5>Индивидуальные пересдачи</h5>

<dl>
  <% @discipline.group.students.valid.each do |student| %>
    <dt><%= student.person.full_name %></dt>
    <dd style="margin-bottom: 20px;">
      <%= render 'form_personal', locals: { student: student } %>
    </dd>
  <% end %>
</dl>
