<% content_for :modal_title do %>
  <%= @discipline.name %>
  <br>
  <small><%= @discipline.group.name %></small>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <div id="repeats">
      <%= render 'repeats' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div id="new_repeat">
      <%= render 'form' %>
    </div>
  </div>
</div>
