<h4>Студенты, на которых будет создан приказ:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Институт</th>
      <th>Группа</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<%= link_to 'Создать приказ', office_orders_path(exception: params[:exception], template: params[:template]), method: :post,
            class: 'btn btn-success pull-right margin-bottom', id: 'createOrderWithStudents', data: {value: params[:template]} %>
