<div class="page-header">
  <h1>Черновики приказов</h1>
</div>

<%= render partial: 'filters', locals: {url: office_drafts_path, ost: false} %>

<%= paginate_with_info @drafts %>

<%= render partial: 'unsigned_table', locals: { orders: @drafts } %>

<%= paginate @drafts %>
