<div class='page-header'>
  <h1>Материальная помощь</h1>
</div>

<form class='form-horizontal' action='' method='post' id='formpullstudents'>
  <%= render 'groups/group', faculties: @faculties %>
</form>

<table id="studentsForSupport">
  <tr>
  </tr>
</table>