/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *
 *= require chosen
 ** require jquery.ui.core
 ** require jquery.ui.theme
 ** require jquery.multiselect
 *
 *= require_tree .
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap.override';
@import 'bootstrap-datepicker';

@font-face {
  font-family: 'Glyphicons Regular';
  src: image-url('glyphicons/glyphicons-regular.eot');
  src: image-url('glyphicons/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
    image-url('glyphicons/glyphicons-regular.woff') format('woff'),
    image-url('glyphicons/glyphicons-regular.ttf') format('truetype'),
    image-url('glyphicons/glyphicons-regular.svg#glyphiconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
