.student-sign-in {
  background-color: #fff;
  background-image:
    linear-gradient(90deg, transparent 13px, #abced4 13px, #abced4 17px, transparent 17px),
    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;

  opacity: 0.3;
}
