@font-face {
  font-family: 'Glyphicons Halflings';
  src: image-url('fonts/glyphiconshalflings-regular.eot');
  src: image-url('fonts/glyphiconshalflings-regular.eot?#iefix') format('embedded-opentype'), image-url('fonts/glyphiconshalflings-regular.woff') format('woff'), image-url('fonts/glyphiconshalflings-regular.ttf') format('truetype'), image-url('fonts/glyphiconshalflings-regular.svg#glyphicons_halflingsregular') format('svg');
}