form {
  .control-label:first-letter {
    text-transform: uppercase;
  }

  .form-group label:first-letter {
    text-transform: uppercase;
  }
}

.ace-editor-wrap {
  width: 100%;
  height: 510px;
}
.ace-editor {
  position: absolute;
  width: 100%;
  height: 510px;
}