body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit;
  color: #29323d;

  small {
    margin-left: 15px;
    font-style: italic;
  }
}

#sidebar-nav {
  position: absolute;
  width: 180px;
  float: left;
  margin: 0;
  padding-top: 5.8em;

  #dashboard-menu {
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    margin-left: 25px;

    > li > a {
      display: block;
      margin-right: -15px;
      margin-left: -15px;
      padding: 19px 14px 15px 14px;
      margin-bottom: 5px;
      border-bottom: 1px solid #dae1e8;
      box-shadow: 0 2px 1px -1px #FFFFFF;
      color: #7f8c9a;
      width: 84%;
    }

    .pointer {
      position: absolute;
      right: 9px;
      top: 37%;

      .arrow, .arrow_border {
        border-color: transparent #fff transparent transparent;
        border-width: 11px;
        border-style: solid;
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1002;
        left: 0;
        margin-left: 45%;
      }

      .arrow_border {
        border-color: transparent #c0d2dd transparent transparent;
        border-width: 11px;
        margin-left: -1px;
        border-style: solid;
        z-index: 1001;
        top: 0px;
      }
    }

    a {
      span {
        margin-left: 35px;
        line-height: 20px;
        transition: color .1s linear;
        -webkit-transition: color .1s linear;
        -moz-transition: color .1s linear;
        -o-transition: color .1s linear;
      }

      i {
        position: absolute;
        left: 0;
        height: 24px;
        width: 24px;
        opacity: 0.5;
        transition: opacity .1s ease;
        -webkit-transition: opacity .1s ease;
        -moz-transition: opacity .1s ease;
        -o-transition: opacity .1s ease;
      }
    }

    > li {
      position: relative;

      .icon-group {
        font-size: 20px;
      }

      &:hover i {
        opacity: 1;
      }

      &.active > a, > :hover {
        color: #33455a;
        text-decoration: none;
      }

      &.active {
        a {
          font-weight: 600;
          text-shadow: 1px 1px 1px #fff;
        }

        i {
          opacity: 1;
        }
      }
    }
  }
}

#pad-wrapper {
  padding: 0 25px;
  margin-top: 55px;

  .section {
    border-top: 1px solid #edeff1;
    margin-top: 70px;
    padding-top: 45px;
    box-shadow: inset 0 3px 4px -1px #fafafa;
  }

  h4 {
    margin: 0 0 0 20px;
    color: #696d73;
    font-style: italic;

    &.title {
      margin-bottom: 35px;
    }
  }
}

.content {
  min-width: 400px;
  min-height: 600px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  position: relative;
  background: #fff;
  margin-left: 177px;
  border-left: 1px solid #dae3e9;
  border-bottom: 1px solid #dae3e9;
  box-shadow: -2px 3px 4px 0px #f1f1f3;
  border-radius: 0px 0px 0px 5px;

  .wide-content {
    margin-left: 0;
    border-radius: 0;
  }
}