.semester-calendar {
  td {
    text-align: center;
    padding: 6px !important;

    &.month {
      text-align: right;
    }
    &.day {
      cursor: pointer;
    }
  }

  th.day {
    text-align: center;
    padding: 6px !important;
  }

  .border-none {
    border: none;
  }
  .border-top {
    border-top: 1px solid #dddddd;
  }
  .border-right {
    border-right: 1px solid #dddddd;
  }
  .border-bottom {
    border-bottom: 1px solid #dddddd;
  }
  .border-left {
    border-left: 1px solid #dddddd;
  }

  .selected {
    border: 3px solid #ddd !important;
  }
  .selected a{
    font-weight: bold;
  }

  a{
    display: block;
  }
}