<div class="page-header">
  <h1>Отчёт за <%= @period.description %></h1>
</div>

<%= render 'achievements' %>

<hr>

<div class="page-header">
  <h2>Выберите из&nbsp;показателей эффективности то, что&nbsp;было
    сделано в&nbsp;текущем отчётном периоде</h2>
</div>

<%= render 'activities' %>