<div class="page-header">
  <h1>
    Подтверждение показателей эффективности<br><small>Работа куратором</small>
  </h1>
</div>
<p class="lead">Данный показатель может быть оценен в пределах от <strong>0</strong> до <strong>4</strong> баллов</p>


<% @achievements.each do |achievement| %>
  <div id="<%= dom_id(achievement, :validate_social) %>">
    <%= render partial: 'achievement_validation_selection', locals: { achievement: achievement } %>
  </div>
<% end %>