<div class="page-header">
  <h1>
    Подтверждение показателей эффективности<br><small>поручения директора</small>
  </h1>
</div>
<p class="lead">
  Данный показатель может быть оценён в пределах
  от <strong>0</strong> до <strong>10</strong> баллов.
</p>

<form class="form-inline" style="margin-bottom: 15px;">
  <div class="form-group">
    <label>Период отчётности</label>
    <%= select_tag :year, options_for_select([[2013, 2013], [2012, 2012]], @year),
                   class: 'form-control', onchange: %q($(this).parents('form').submit();) %>
  </div>

  <div class="form-group">
    <label>Кафедра</label>
    <%= select_tag :subdepartment, options_for_select(Department.where('department_parent = ?', @current_department).map { |d| [d.abbreviation, d.id] }, params[:subdepartment]),
                   prompt: 'все кафедры института', class: 'form-control', onchange: %q($(this).parents('form').submit();) %>
  </div>
</form>

<% @achievements.each do |achievement| %>
  <div id="<%= dom_id(achievement, :validate_additional) %>">
    <%= render partial: 'achievement_validation_additional',
               locals: { achievement: achievement } %>
  </div>
<% end %>