<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.name }}</title>
        <meta name="title" content="{{ page.title }}" >
        <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include ssn.html %}
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/hq/css/style.css">
        <link rel="stylesheet" href="/hq/css/monokai.css">
    </head>
    <body class="wrap">
      <!--[if lt IE 8]>
            У вас <strong>старьё</strong>, а не браузер. Пожалуйста, зайдите в <a href="http://google.ru> google </a> и скачайте Google Chrome, поиском умеете же пользоваться?</p>
      <![endif]-->
      {% include header.html %}
      <section class="content">
        {{ content }}
      </section>
      <footer class="grid site-footer">
      <p><ruby>
        Контактная информация
        <rt>Наша</rt>
      </ruby></p>
        Виталий Шляга <a href="mailto:vshlyaga@acm.org">vshlyaga@acm.org</a> и  Анна Воронкина <a href="mailto:vau2007@rambler.ru">vau2007@rambler.ru</a>
        <p><small> Отдел информационных систем (каб. 1320)  +7 (499) 976-43-09</small></p> 
      <ruby>
        <a href="/about/">О матрице</a>
        <rt>Подробнее</rt>
      </ruby>

      </footer>
    </body>
</html>
<rt>