<h4 class="title">Состояние проекта</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Компонент</th>
      <th>Тестирование</th>
      <th>Покрытие кода</th>
      <th>Качество кода</th>
      <th>Зависимости</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Модуль управления</td>
      <td>
        <a href="https://travis-ci.org/mgup/hq" target="_blank">
          <img src="https://travis-ci.org/mgup/hq.png?branch=master" style="margin-top: -1px;">
        </a>
      </td>
      <td>
        <a href='https://coveralls.io/r/mgup/hq' target="_blank">
          <img src='https://coveralls.io/repos/mgup/hq/badge.png'>
        </a>
      </td>
      <td>
        <a href="https://codeclimate.com/github/mgup/hq" target="_blank">
          <img src="https://codeclimate.com/github/mgup/hq.png">
        </a>
      </td>
      <td>
        <a href='https://gemnasium.com/mgup/hq' target="_blank">
          <img src="https://gemnasium.com/mgup/hq.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>Элементы интерфейса</td>
      <td>
        <a href="https://travis-ci.org/mgup/ui" target="_blank">
          <img src="https://travis-ci.org/mgup/ui.png?branch=master" style="margin-top: -1px;">
        </a>
      </td>
      <td>
        <a href='https://coveralls.io/r/mgup/ui' target="_blank">
          <img src='https://coveralls.io/repos/mgup/ui/badge.png'>
        </a>
      </td>
      <td>
        <a href="https://codeclimate.com/github/mgup/ui" target="_blank">
          <img src="https://codeclimate.com/github/mgup/ui.png">
        </a>
      </td>
      <td>
        <a href='https://gemnasium.com/mgup/ui' target="_blank">
          <img src="https://gemnasium.com/mgup/ui.png">
        </a>
      </td>
    </tr>
  </tbody>
</table>