<h4 class="title">Состояние проекта</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Компонент</th>
      <th><span class="line"></span>Тестирование</th>
      <th><span class="line"></span>Качество кода</th>
      <th><span class="line"></span>Покрытие тестами</th>
      <th><span class="line"></span>Зависимости</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Модуль управления</td>
      <td>
        <a href="https://travis-ci.org/mgup/hq" target="_blank">
          <img src="https://travis-ci.org/mgup/hq.png?branch=master" style="margin-top: -1px;">
        </a>
      </td>
      <td>
        <a href="https://codeclimate.com/github/mgup/hq" target="_blank">
          <img src="https://codeclimate.com/github/mgup/hq.png">
        </a>
      </td>
      <td>
        <a href="https://codeclimate.com/github/mgup/hq" target="_blank">
          <img src="https://codeclimate.com/github/mgup/hq/coverage.png">
        </a>
      </td>
      <td>
        <a href='https://gemnasium.com/mgup/hq' target="_blank">
          <img src="https://gemnasium.com/mgup/hq.png">
        </a>
      </td>
    </tr>
  </tbody>
</table>