<h4 class="title">Состояние системы</h4>

<div class="row">
  <div class="col col-lg-6">
    <div class="col col-lg-4"><div id="load_average_1"></div></div>
    <div class="col col-lg-4"><div id="load_average_5"></div></div>
    <div class="col col-lg-4"><div id="load_average_15"></div></div>
  </div>
  <div class="col col-lg-3"><div id="memory_usage"></div></div>
  <div class="col col-lg-3"><div id="disk_usage"></div></div>
</div>

<script>
  // Инициализация графиков для статистики.
  initServerStatsGauge('#load_average_1',  '1 минута',            170);
  initServerStatsGauge('#load_average_5',  '5 минут',             170);
  initServerStatsGauge('#load_average_15', '15 минут',            170);
  initServerStatsGauge('#memory_usage',    'Оперативная память',  200);
  initServerStatsGauge('#disk_usage',      'Использование диска', 200);

  // Раз в 5 секунд статистика обновляется с сервера.
  var updateServerStats = function() {
    $.getJSON('<%= system_stats_path %>', function(data) {
      // Обновление показателей загрузки сервера.
      $('#load_average_1').highcharts().series[0].setData(
          [parseFloat(data.one_minute.toFixed(2))]
      );
      $('#load_average_5').highcharts().series[0].setData(
          [parseFloat(data.five_minutes.toFixed(2))]
      );
      $('#load_average_15').highcharts().series[0].setData(
          [parseFloat(data.fifteen_minutes.toFixed(2))]
      );

      var bInGb = 1024 * 1024 * 1024;

      // Показатели использования оперативной памяти.
      var pagesize = parseInt(data.pagesize);
      var wired    = parseInt(data.wired);
      var active   = parseInt(data.active);
      var inactive = parseInt(data.inactive);
      var free     = parseInt(data.free);

      updateGaugeExtremes(
          'memory_usage', 0,
          pagesize * (wired + active + inactive + free) / bInGb,
          pagesize * (wired + active) / bInGb
      );

      // Показатели использования диска.
      var block_size   = parseInt(data.block_size);
      var free_blocks  = parseInt(data.free_blocks);
      var total_blocks = parseInt(data.total_blocks);

      updateGaugeExtremes(
        'disk_usage', 0,
        block_size * total_blocks / bInGb,
        block_size * (total_blocks - free_blocks) / bInGb
      );
    });
  };
  updateServerStats();
  var interval = setInterval(updateServerStats, 5000);
  $(document).on('page:fetch', function() {
    clearInterval(interval);
  });
</script>
