<div class="page-header">
  <h1>Рецензиирование изданий</h1>
  <h3>Cписок всех рецензий</h3>
</div>

<div>
  <a href="/reviews/new" class="btn btn-primary">Новая рецензия</a>
</div>

<table class="table table-condensed">
  <thead>
  <tr>
    <th>№ рец.</th>
    <th>Дата регистрации</th>
    <th>№ договора</th>
    <th>Дата договора</th>
    <th>Тип заказа</th>
    <th>Автор</th>
    <th>Учебное заведение</th>
    <th>Название пособия</th>
    <th>Уполномоченный ВУЗ</th>
    <th>Дата отправки в ВУЗ</th>
    <th>Тип отзыва</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'rows' %>
  </tbody>
</table>

<div>
  <%= paginate_with_info @reviews %>
</div>