<!DOCTYPE html>
<html class="login-bg">
<head>
  <title>MatrixHq</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row auth-wrapper">
  <div class="col-lg-4 col-offset-4">
    <h3>МГУП.Матрица</h3>
    <%= yield %>
  </div>
</div>
</body>
</html>
