<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">
    <%= content_for :modal_title %>
  </h4>
</div>

<div class="modal-body">
  <%= yield %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>

  <%= content_for :modal_save %>
</div>